</body>

<footer>

    <nav>
        <a class="nav-a-home">
              <svg class="svg-home">
                 <use xlink:href="/course/icons.svg#logo-small"></use>
              </svg>
              <span class="nav-text"> Home </span>
        </a>
        <a class="nav-a-recent">
              <img src="/public/assets/recent.svg" class="svg-recent"></img>
              <span class="nav-text"> Recent </span>
        </a>
        <a class="nav-a-more">
              <img src="/public/assets/more.svg" class="svg-more"></img>
              <span class="nav-text"> Meer </span>
        </a>
    </nav>

</footer>

</html>