</body>

<footer class="footer-mobile">

    <nav>
        <a class="nav-a-home" href="/">
            <figure alt="knop voor home">
              <svg class="svg-home" alt="button home"> <use xlink:href="/course/icons.svg#logo-small"></use> </svg>
              <figcaption class="nav-text">Home</figcaption>
            </figure>
        </a>

        <a class="nav-a-recent" href="/recent">
             <figure alt="knop voor recente afleveringen">
               <svg class="svg-recent" alt="button recent" xmlns="http://www.w3.org/2000/svg" width="30" height="30"><g transform="translate(0 -289.063)"><rect style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.5;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:.71555553" width="4" height="24" x="3" y="292.063" rx="2" ry="2"/><rect ry="2" rx="2" y="292.063" x="9" height="24" width="4" style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:.71555553"/><rect style="opacity:1;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:.71555553" width="4" height="24" x="-86.262" y="280.908" rx="2" ry="2" transform="rotate(-20)"/></g></svg>
               <figcaption class="nav-text">Recent</figcaption>
             </figure>
        </a>


        <a class="nav-a-more" href="/more">
            <figure knop voor meer opties>
                  <svg class="svg-more" alt="button more" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><path d="M3 12h18M3 6h18M3 18h18"/></svg>  
                  <figcaption class="nav-text">More</figcaption>
            </figure>
        </a>
    </nav>
</footer>

<footer class="footer-desktop">
    <ul>
        <li><h4>Meer</h4></li>
        <li>Over deze site</li>
        <li>Veelgestelde vragen</li>
        <li>Contact & feedback</li>
        <li>Over de Correspondent</li>
        <li>Jouw account</li>
        <li>Jouw privacy</li>
        <li>Voorwaarden</li>
        <li>Uitloggen</li>
    </ul> 
</footer>

</html>
