<%- include('./partials/head') %>
<ul>
    <li>Over deze site</li>
    <li>Veelgestelde vragen</li>
    <li>Contact & feedback</li>
    <li>Over de Correspondent</li>
    <li>Jouw account</li>
    <li>Jouw privacy</li>
    <li>Voorwaarden</li>
    <li>Uitloggen</li>
</ul> 
<%- include('./partials/foot') %>