<%- include('./partials/head') %>

<main>

    <section class="section-recent-episodes">
<% data.forEach(collection => { %>
     <div class="div-container-episode">
         <div class="div-episode">testtesttesttesttesttest</div>
         <p class="p-maker"> Maker show</p>
     </div>

<% }); %>
    </section>  

</main>

<%- include('./partials/foot') %>
