* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --main-background-color-darkmode: black;
  --common-border-radius: 1rem;
  --main-font-color-darkmode: white;
}

body {
  background: var(--main-background-color-darkmode);
}

/* Header ------------------------------------------------------------ */
/* Header ------------------------------------------------------------ */
/* Header ------------------------------------------------------------ */

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.svg-logo {
  height: 5rem;
  width: 10rem;
  fill: #cf635c;
}

/* Homepage ------------------------------------------------------------ */
/* Homepage ------------------------------------------------------------ */
/* Homepage ------------------------------------------------------------ */

main {
  margin-bottom: 5rem;
}

.section-featured {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,1) 100%);

}

.img-featured-placeholder {
  height: auto;
  width: 90%;
  border-radius: var(--common-border-radius);
}

h2 {
  position: absolute;
  color: var(--main-font-color-darkmode);
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

.div-author-avatar{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 5rem;
  width: 10rem;
}

.div-background-avatar, .img-author-avatar{
  position: absolute;
  height: 3rem;
  width: 3rem;
}

.div-background-avatar{
  background: #9ECECA;
  border-radius: 50%;
}

.span-author{
  margin-top: 3rem;
  color: #9ECECA;
  font-size: 0.8rem;
}

h3 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem 1rem;
  color: var(--main-font-color-darkmode);
}

.section-our-shows {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0 1rem;
  overflow-x: scroll;
}

.div-show {
  background: white;
  width: 10rem;
  height: 15rem;
  border-radius: var(--common-border-radius);
}

.a-show {
  text-decoration: none;
  color: inherit;
}

.picture-show img {
  width: 10rem;
  height: 10rem;
  border-radius: var(--common-border-radius);
}

.p-show-title {
  text-align: center;
  font-weight: 700;
  margin-top: 1rem;
}

.div-container-episode {
  width: 10rem;
}

.div-episode {
  width: 10rem;
  height: 10rem;
  border-radius: var(--common-border-radius);
}

.p-title-episode {
  color: var(--main-font-color-darkmode);
}

.p-maker-episode {
  color: #cf635c;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Recent ------------------------------------------------------------ */
/* Recent ------------------------------------------------------------ */
/* Recent ------------------------------------------------------------ */

.section-recent-episodes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 1rem;
}

/* Collection ------------------------------------------------------------ */
/* Collection ------------------------------------------------------------ */
/* Collection ------------------------------------------------------------ */

.main-collection {
  display: flex;
  justify-content: center;
}

.div-content-right {
  margin-top: 5rem;
}

.section-recent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 1rem;
  margin-left: 1rem;
}

.img-collection-placeholder {
  width: 10rem;
  height: 10rem;
  border-radius: var(--common-border-radius);
}

.div-episode-whole{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Footer ------------------------------------------------------------ */
/* Footer ------------------------------------------------------------ */
/* Footer ------------------------------------------------------------ */

.footer-mobile {
  background: black;
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
}

nav svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: white;
  stroke: white;
}

nav figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a figcaption {
  color: var(--main-font-color-darkmode);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.footer-desktop {
  display: none;
}

h4 {
  color: var(--main-font-color-darkmode);
}

ul {
  list-style: none;
  margin: 0rem 0rem 2rem 5rem;
  color: var(--main-font-color-darkmode);
}

li h4{
  margin-bottom: 0.5rem;
}

/* DESKTOPVERSIE ------------------------------------------------------------ */
/* DESKTOPVERSIE ------------------------------------------------------------ */
/* DESKTOPVERSIE ------------------------------------------------------------ */

@media only screen and (min-width: 850px) {
  main {
    display: flex;
  }

  .div-half-page-left,
  .div-half-page-right {
    width: 50vw;
    padding-bottom: 5rem;
  }

  .section-featured {
    max-width: 80%;
    margin: 3rem 0 0 10rem;
  }

  .div-half-page-left h3 {
    margin: 4rem 0 0 12rem;
  }

  .img-featured-placeholder {
    height: auto;
    margin-top: -2rem;
  }

  .div-shows-and-episodes {
    display: flex;
    margin-top: 2rem;
    margin-left: 4rem;
    width: 50%;
  }

  .section-our-shows,
  .section-recent {
    flex-wrap: wrap;
    overflow: visible;
  }

  .section-our-shows {
    min-width: 50%;
    padding-right: 5rem;
  }

  .section-recent {
    padding: 0 13rem;
    margin-left: 5rem;
  }

  .footer-mobile {
    display: none;
  }

  .footer-desktop {
    display: block;
  }

  ul {
    margin-left: 18rem;
  }

}
