* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

:root {
  --main-background-color-darkmode: black;
  --common-border-radius: 1rem;
}

body {
  background: var(--main-background-color-darkmode);
}

/* Header ------------------------------------------------------------ */
/* Header ------------------------------------------------------------ */
/* Header ------------------------------------------------------------ */

header {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.svg-logo {
  height: 5rem;
  width: 10rem;
  fill: #cf635c;
}

/* Homepage ------------------------------------------------------------ */
/* Homepage ------------------------------------------------------------ */
/* Homepage ------------------------------------------------------------ */

main {
  margin-bottom: 5rem;
}

.section-featured {
  display: flex;
  justify-content: center;
}

.img-featured-placeholder {
  height: auto;
  width: 90%;
  border-radius: var(--common-border-radius);
}

h2 {
  margin: 2rem 0 1rem 1rem;
  color: white;
}

.section-our-shows,
.section-recent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 1rem;
  overflow-x: scroll;
}

.div-show {
  background-color: white;
  width: 10rem;
  height: 15rem;
  border-radius: var(--common-border-radius);
}

.div-container-episode {
  display: flex;
  flex-direction: column;
}

.div-episode {
  background-color: white;
  width: 10rem;
  height: 10rem;
  border-radius: var(--common-border-radius);
}

.p-maker {
  color: #cf635c;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* Recent ------------------------------------------------------------ */
/* Recent ------------------------------------------------------------ */
/* Recent ------------------------------------------------------------ */

.section-recent-episodes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0 1rem;
}

/* Footer ------------------------------------------------------------ */
/* Footer ------------------------------------------------------------ */
/* Footer ------------------------------------------------------------ */

.footer-mobile {
  background: black;
  height: 4rem;
  width: 100%;
  position: fixed;
  bottom: 0%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0.5rem;
}

nav svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: white;
  stroke: white;
}

nav figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
justify-content: center;
}

a figcaption{
  color: white;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

/* DESKTOPVERSIE ------------------------------------------------------------ */
/* DESKTOPVERSIE ------------------------------------------------------------ */
/* DESKTOPVERSIE ------------------------------------------------------------ */

@media only screen and (min-width: 850px) {
  .img-featured-placeholder {
    height: auto;
    width: 35%;
  }
  .div-shows-and-episodes{
    display: flex;
    margin-top: 2rem;
    margin-left: 4rem;
  }
  .section-our-shows,
  .section-recent {
    flex-wrap: wrap;
    overflow-x: visible;
  }
  .footer-mobile {
    display: none;
  }
}